<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-quote-form></app-quote-form>
    </div>
    <div class="col-md-6">
      <div *ngFor="let quote of quotes; let i = index;">
        <h2>{{quote.author}}</h2>
        <button class="btn btn-outline-primary" (click)="toggleDetails(i)">Show Quote</button>
        <app-quote-detail *ngIf='quote.showQuote' [quote]='quote' (isDelete)='quoteDelete($event,i)' (isVote)="voteIncrease($event, i)"></app-quote-detail>
      </div>
    </div>
  </div>
</div>
