<div class="card">
  <div class="card-body">
    <form (ngSubmit)="addNewQuote(author.value, submitter.value, theQuote.value)" #quoteForm = ngForm>
      <div class="form-group">
        <label for="author">Author</label>
        <input #author class="form-control" [(ngModel)]="newQuote.author" name="author" id="author">
<!--        <p>Display check {{newQuote.author}}</p>-->
      </div>
      <div class="form-group">
        <label for="submitter">Submitter</label>
        <input #submitter class="form-control" [(ngModel)]="newQuote.submitter" name="submitter" id="submitter">
      </div>
      <div class="form-group">
        <label for="quoteTextArea">Quote</label>
        <textarea #theQuote class="form-control" id="quoteTextArea" [(ngModel)]="newQuote.theQuote" name="theQuote" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
  </div>
</div>
